





.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "PT Sans", sans-serif, Arial;
}

.popup-window {
    width: 600px;
    height: 700px;
    background-color: #eee;
    border: 1px solid #222;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
}

.popup-title {
    font-size: 75px;
}

.popup-btn {
    width: 30%;
    height: 10%;
    margin: auto 0px 10px 0px;

    background-color: #007bff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}

.popup-btn:hover {
    background-color: #0056b3;
}